& {
  width:100%;
  height: 100%;
  background-color: #F8F8F8;
  font-family: "Source Sans Pro", sans-serif;
  color: #080808;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .header, .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: initial;
    // margin-bottom: 5px;
  }

  & .body {
    display: flex;
    flex-direction: row;
    z-index: initial;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
}